#root {
  padding: 1rem;
  display: flex;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 4em;
  margin-left: 1em;
  flex-direction: column;
}

.sub-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-wrapper {
  margin-right: 1em;
}

.map-section {
  display: flex;
  flex-direction: column;
}

.quicklinks {
  display: flex;
  flex-direction: column;
}

.feeds {
  display: flex;
  width: 540px;
}

.bsg-twit-embed {
  display: flex;
  flex-direction: column;
}

.right-wrapper {
  display: flex;
  flex-direction: row;
}

/* change flex direction if screen narrower than 800 px */
@media (max-width: 800px) {
  .sub-wrapper {
    flex-direction: column;
  }
  .feeds {
    flex-direction: column;
  }
}
