#root {
  padding: 1rem;
  display: flex;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 2em;
  flex-direction: column;
}

.sub-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-wrapper {
  margin-right: 1em;
}

.map-section {
  display: flex;
  flex-direction: column;
}

.quicklinks {
  display: flex;
  flex-direction: column;
}

.feeds {
  display: flex;
  width: 540px;
}

.bsg-twit-embed {
  display: flex;
  flex-direction: column;
}

.right-wrapper {
  display: flex;
  flex-direction: row;
}

/* change flex direction if screen narrower than 800 px */
@media (max-width: 800px) {
  #root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: scroll;
    align-items: left;
    word-break: break-all;
  }

  h2 {
    font-size: 1em;
  }

  .App {
    margin-left: 12px;
  }

  .header-wrapper {
    margin-bottom: 0;
  }

  .sub-wrapper {
    flex-direction: column;
  }
  .feeds {
    flex-direction: column;
    width: 80vw;
  }
}
