#root {
  padding-left: 1em;
  display: flex;
}

#App {
  display: flex;
  flex-direction: column;
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 1em;
  flex-direction: column;
}

#sub-wrapper {
  display: flex;
  flex-direction: row;
}

.light-column-bg {
  display: flex;
  flex-direction: column;
  background: rgba(114, 119, 66, 0.3);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: 8px;
  margin-left: 8px;
}

#left-wrapper {
  display: flex;
  margin-right: 1em;
  flex-direction: column;
}

#map-section {
  display: flex;
  flex-direction: column;
}

#quick-links {
  display: flex;
  flex-direction: column;
}

#feeds {
  display: flex;
}

#bsg-twit-embed {
  display: flex;
  flex-direction: column;
}

#reddit-posts {
  display: flex;
  flex-direction: column;
}

.yt-embed {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

#gigabeef-embed {
  display: flex;
}

#right-wrapper {
  display: flex;
  flex-direction: row;
  padding-right: 1em;
}

/* change flex direction if screen narrower than 800 px */
@media (max-width: 800px) {
  #root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: scroll;
    align-items: left;
    word-break: break-all;
  }

  h2 {
    font-size: 1em;
  }

  #App {
    margin-left: 12px;
  }

  #header-wrapper {
    margin-bottom: 0;
  }

  #sub-wrapper {
    flex-direction: column;
  }
  #feeds {
    flex-direction: column;
    width: 80vw;
  }
}
